<h2>Crear Nueva Habitación</h2>
<form method="POST">
  Número: <input type="text" name="numero" /><br />
  Categoría: <input type="text" name="categoria" /><br />
  Capacidad: <input type="number" name="capacidad" /><br />
  Precio por noche: <input type="number" step="0.01" name="precio" /><br />
  Estado:
  <select name="estado">
    <option value="libre">Libre</option>
    <option value="ocupada">Ocupada</option>
    <option value="mantenimiento">Mantenimiento</option></select
  ><br />
  <input type="submit" value="Guardar" />
</form>
